@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #020207;
    color: white;
    font-family: "Unbounded", sans-serif !important;
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

a:active{
    scale: 0.95;
}

button {
    box-shadow: inset 0px 0px 5px 0px rgb(255, 255, 255, 0.1);
    border: none;
    transition: 0.2s;
    background: none;
    font-weight: 600;
    font-family: "Unbounded", sans-serif;
    cursor: pointer;
    font-size: 1rem;                                                                                                            ;
    transition: 0.2s;
}

button:active{
    scale: 0.95;
}


textarea {
    border: none; 
    background-color: rgba(255, 255, 255, 0.1);
    color: white; 
    padding: 8px 16px; 
    border-radius: 15px; 
    min-width: 100%; 
    max-width: 100%; 
    font-size: 15px;
    font-family: "Unbounded", sans-serif;
}

input[type="date"], input[type="number"], input[type="text"] {
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.1); 
    border: none; 
    color: white; 
    padding: 8px 16px; 
    border-radius: 15px;
    font-size: 15px;
    font-family: "Unbounded", sans-serif;
}

.txt-block {
    display: flex;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: rgba(255, 230, 0, 0.3);
}

.txt-block-tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    font-size: 10px;
}

.txt-block-tr h1 {
    font-size: 21px;
}

.txt-block-tr button{
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.4) !important;
    background-color: rgba(255, 255, 255, 0.1);
}

.txt-block-tr button:hover{
    color: rgba(255, 255, 255, 0.6) !important;
    background-color: rgba(255, 255, 255, 0.3);
}

main{
    width: 100%;
    padding: 18px;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main button {
    width: 100%;
    height: max-content;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

main button img {
    position: absolute;
    z-index: -2;
    bottom: 0px;
    right: 0px;
    width: 150px;
    opacity: 0.3;
    filter: blur(1px);
}

main button h2{
    text-align: start;
    font-size: 21px;
}

main button p{
    text-align: start;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.win-tr:hover{
    background-color: rgba(255, 230, 0, 0.2) !important;
}

.quest-tr:hover{
    background-color: rgba(0, 255, 255, 0.2) !important;
}

.fiat-tr:hover{
    background-color: rgba(30, 255, 0, 0.2) !important;
}

.life-tr:hover{
    background-color: rgba(255, 0, 0, 0.2) !important;
}

.block-tr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.menu-tr{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: min-content;
    padding: 10px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-tr a{
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 15px;
    padding: 8px 16px;
    font-size: 21px;
}

.add-tr:hover{
    background-color: rgba(30, 255, 0, 0.2) !important;
}

.remove-tr:hover{
    background-color: rgba(255, 0, 0, 0.2)!important;
}

.win-entry {
    width: 100%;
    color: rgba(255, 255, 255) !important;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1px;
}

.modal, .modal-edit {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.modal-content, .modal-content-edit {
    background: rgb(34, 34, 34);
    border-radius: 20px;
    padding: 24px;
    width: 90%;
    max-width: 400px;
    animation: slideUp 0.3s ease-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: start;
    gap: 10px;
}

@keyframes slideUp {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.modal h2, .modal-edit h2 {
    width: 100%;
    margin: 0 0 16px 0;
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.modal-buttons, .modal-buttons-edit {
    display: flex;
    gap: 12px;
    width: 100%;
}

.modal-buttons button, .modal-buttons-edit button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    color: #ffffff;
    transition: 0.2s;
    text-align: center;
}

.modal-buttons .cancel, .cancel-edit {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.1);
}

.modal-buttons .add, .save-edit {
    width: 100%;
    background-color: rgba(21, 255, 0, 0.1);
}

.modal-buttons .cancel:hover, .cancel-edit:hover {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    color: #ffffff;
}

.modal-buttons .add:hover, .save-edit:hover {
    width: 100%;
    background-color: rgba(21, 255, 0, 0.2);
    color: white;
}

.delete-btn:hover{
    background-color: rgba(255, 0, 0, 0.2) !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.toast {
    width: 300px;
    flex-wrap: wrap;
    position: fixed;
    top: 20px;
    left: 12.5%;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    z-index: 2000;
    display: none;
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease;
    animation: bounce 0.3s ease-out;
}

.toast.show {
    display: block;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.toast.success {
    background-color: #1eff0030;
    color: white;
}

.toast.error {
    background-color: #ff000030;
    color: white;
}

.block-tr {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.record-item {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.record-income {
    background-color: rgba(30, 255, 0, 0.1);
}

.record-expense {
    background-color: rgba(255, 0, 0, 0.1);
}

.filter-controls select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    font-size: 15px;
    font-family: "Unbounded", sans-serif !important;
}

option {
    background-color: black;
    color: white;
    border: none;
        font-family: "Unbounded", sans-serif !important;
}

.summary-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stat-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 15px;
    min-width: 100px;
}

.stat-box h3 {
    margin: 0 0 10px;
    color: #ffffff;
    font-size: 1rem;
}

.stat-box p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.balance {
    color: #1eff00;
}

.balance.negative {
    color: #ff0000;
}

#lifeTracker {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* 30 квадратиков в ряд * (15px + gap) */
    gap: 2px;
}

.square {
    border-radius: 5px;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
}

.lived {
    background-color: rgb(172, 172, 172);
}

.left {
    background-color: rgb(83, 83, 83);
}

#saveBtn {
    width: 100%;
    margin: 0;
    padding: 8px 16px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    font-size: 21px;
}

#saveBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#addBtn {
    width: 100%;
    margin: 0;
    padding: 8px 16px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    font-size: 21px;
}

#addBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

ul.task-list {
  width: 100%;
  list-style: none;
  padding: 0;
}

ul.task-list li {
    width: 100%;
    background: rgb(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 12px 16px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
    user-select: none;
}

ul.task-list li.completed {
    text-decoration: line-through;
    color: #888;
    background-color: rgba(30, 255, 0, 0.2);
}

ul.task-list li button.delete-btn {
    background: transparent;
    box-shadow: none;
    width: max-content;
    border: none;
    font-size: 1.2em;
    color: #d0342c;
    cursor: pointer;
    padding: 0 5px;
    transition: color 0.2s ease;
}

ul.task-list li button.delete-btn:hover {
  color: #a0221b;
  background: none !important;
}

ul.task-list li button.edit-btn {
    box-shadow: none;
    width: max-content;
    background: transparent;
    border: none;
    font-size: 1.2em;
    color: #0b79d0;
    cursor: pointer;
    padding: 0 5px;
    margin-right: 5px;
    transition: color 0.2s ease;
}

ul.task-list li button.edit-btn:hover {
    color: #095a9d;
}

.task-text {
    flex-grow: 1;
    padding-right: 10px;
    word-break: break-word;
}

.task-separator {
    margin: 20px 0px;
    opacity: 0.5;
}












































/* Общий контейнер */
#mainContentArea {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: inherit;
    /* Добавим, чтобы Safari не "дрожал" при анимации */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /* Убираем прокрутку */
    -webkit-overflow-scrolling: auto;
}

/* Общий класс для экранов */
.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Safari лучше воспринимает transition с transform */
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    z-index: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* Для плавности прокрутки в Safari */
}

/* Основной экран */
#mainScreen {
    z-index: 2;
    opacity: 1;
}

/* Выезжающий экран */
.slide-screen {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    z-index: 3;
    background-color: #020207;
    box-shadow: none;
}

/* Анимация открытия */
.slide-screen.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

/* При закрытии */
.slide-screen.closing {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

/* Движение mainScreen при открытии */
#mainScreen.moving {
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    opacity: 0.9;
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    .slide-screen {
        touch-action: pan-y;
    }
}